body {
    font-family: helvetica;
    margin: 0px;
    color: #565e75;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 22px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
  }
  
  li a:hover {
    background-color: #111;
    cursor: pointer;
  }
  
  .page {
    text-align: center;
    padding: 10px;
  }

  .nav-title {
        color: #32cd32;
        font-size: 40px;
        padding: 7px;
        padding-left: 15px;
        float: left;
  }